@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';


img {
    --f: .1;
    /* the parallax factor (the smaller the better) */
    --r: 10px;
    /* radius */

    --_f: calc(100%*var(--f)/(1 + var(--f)));
    --_a: calc(90deg*var(--f));
    width: 250px;
    /* the image size */
    aspect-ratio: calc(1 + var(--f));
    object-fit: cover;
    clip-path: inset(0 var(--_f) 0 0 round var(--r));
    transform: perspective(400px) var(--_t, rotateY(var(--_a)));
    transition: .5s;
    cursor: pointer;
}

img:hover {
    clip-path: inset(0 0 0 var(--_f) round var(--r));
    --_t: translateX(calc(-1*var(--_f))) rotateY(calc(-1*var(--_a)))
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.snow-container {
    position: fixed; /* Create a fixed-position layer for snow */
    top: 0;
    left: 0;
    pointer-events: none; /* Allow interactions with content behind */
    width: 100%;
    height: 100%;
    z-index: -1; /* Place snow layer behind other content */
}

.snow {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#modalContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px); /* Apply the glass effect */
    z-index: 9999;
    opacity: 0; /* Start with an opacity of 0 to create a fade-in effect */
    pointer-events: none; /* Disable pointer events when modal is closed */
}

#modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4); /* Set the background to transparent/glass */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    font-weight: 100;
    font-size: 15px;
    color: #FAFAFA;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
    text-shadow: 0 0 10px #3700ff, 0 0 20px #3700ff, 0 0 40px #3700ff, 0 0 80px #3700ff; /* Neon pipe effect */
    transition: opacity 0.3s ease-in-out;
    max-height: calc(100vh - 60px); /* 60px is the approximate height of the modal header and footer */
    max-width: calc(100vw - 40px); /* Add some extra padding on the sides */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the screen height */
}

#modalContainer.show {
    opacity: 1;
    pointer-events: auto; /* Enable pointer events when modal is open */
    display: block;
}

.image-with-caption {
    text-align: center;
}

.image-with-caption img {
    --f: .1;
    /* the parallax factor (the smaller the better) */
    --r: 10px;
    /* radius */

    --_f: calc(100%*var(--f)/(1 + var(--f)));
    --_a: calc(90deg*var(--f));
    width: 250px;
    /* the image size */
    aspect-ratio: calc(1 + var(--f));
    object-fit: cover;
    clip-path: inset(0 var(--_f) 0 0 round var(--r));
    transform: perspective(400px) var(--_t, rotateY(var(--_a)));
    transition: .5s;
    cursor: pointer;
}

.image-with-caption img:hover {
    clip-path: inset(0 0 0 var(--_f) round var(--r));
    --_t: translateX(calc(-1*var(--_f))) rotateY(calc(-1*var(--_a)));
}

.image-with-caption p {
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    margin-top: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image-with-caption {
    text-align: center;
}
